<div class="container">
  <h2>Post: <%= @post.title %></h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        Last updated at: <%= @post.updated_at %>
        <%= link_to "Random Update", post_path(@post), method: :patch, 
          class: "btn btn-xs btn-primary", style: "float: right;" %>
      </div>
    </div>
    <div class="panel-body">
      <%= @post.content %>
    </div>
  </div>

  <h3>Events</h3>

  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Event</td>
        <td>Created at</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" 
              data-target="#js-modal-version-<%= version.id %>">
              Preview
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% @versions.each do |version| %>
  <%= render "reify_post", version: version, reify_post: version.reify %>
<% end %>
