<div class="container">
  <h2>Post: <%= @post.title %></h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        Last updated at: <%= @post.updated_at %>
        <button class="btn btn-xs btn-primary" style="float: right;">Random Update</button>
      </div>
    </div>
    <div class="panel-body">
      <%= @post.content %>
    </div>
  </div>

  <h3>Events</h3>

  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Event</td>
        <td>Created at</td>
        <td>Object</td>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
          <td><%= version.object %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
